body {
  margin: 0;
  padding: 0;
  background: rgb(255,198,112);
  background: linear-gradient(0deg, rgba(255,198,112,0.5046393557422969) 0%, rgba(255,194,61,1) 100%);
  color: #1e1e1f;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

#root{
  margin: 0;
  position: relative;
  min-height: 100vh;
}
